* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #323238;
  --background-color: #fff;
  --bg-card-color: #cbd5e1;

  --nature-background-color: #ecfdf5;
  --nature-card-color: #86efac;
  --nature-text-color: #4d7c0f;

  --rain-background-color: #f8fafc;
  --rain-card-color: #334155;
  --rain-text-color: #fff;

  --store-background-color: #fef2f2;
  --store-card-color: #fca5a5;
  --store-text-color: #b91c1c;

  --fire-background-color: #fefce8;
  --fire-card-color: #fcd34d;
  --fire-text-color: #ea580c;

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  background: var(--background-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  justify-content: space-between;
  width: 82rem;
}

#left {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right {
  width: 32rem;
}

#timer {
  display: flex;
  font-size: 9.6rem;
  font-weight: bold;
  font-family: sans-serif;
}

#controls {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

section#cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 32px;
}

.card {
  padding: 4.6rem 3.8rem;
  background: var(--bg-card-color);
  border: none;
  border-radius: 2.4rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 4.8rem;
}

.nature {
  background: var(--nature-card-color);
  color: var(--nature-text-color);
}

.rain {
  background: var(--rain-card-color);
  color: var(--rain-text-color);
}

.store {
  background: var(--store-card-color);
  color: var(--store-text-color);
}

.fire {
  background: var(--fire-card-color);
  color: var(--fire-text-color);
}

@media (max-width: 800px) {
  #app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  section#cards {
    gap: 1.6rem;
  }
}
