* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
button,
input,
textarea {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
}

section:nth-child(even) {
  background: linear-gradient(134deg, #343193 0%, #302c63 100%);
}

section:nth-child(odd) {
  background: #f9f4fb;
  align-items: center;
}

section#principal img.astronaut {
  width: 36.4rem;
  height: 37rem;
  margin-bottom: 1.7rem;
}

h1 {
  color: #b52184;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0.5rem;
}

h3 {
  color: #312d64;
  text-align: center;
  font-family: Mulish;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3.5rem;
}

section#principal button {
  background: transparent;
  border: none;
  margin-bottom: 9.5rem;
}

section#cards .wrapper-cards {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  padding: 5.2rem 2.4rem;
}

.card {
  padding: 2.4rem;
  flex-direction: column;
  gap: 3.2rem;

  border-radius: 19.865px;
  background: #fff;
  box-shadow: 0px 3.3107693195343018px 13.243077278137207px 0px
    rgba(0, 0, 0, 0.25);
}

.card img {
  margin-bottom: 3.2rem;
}

.card h1 {
  text-align: start;
  margin-bottom: 1.6rem;
}

.card p {
  text-align: justify;

  color: #312d64;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

section#contact {
  padding: 4.2rem;
}

section#contact form {
  width: 100%;
}

section#contact fieldset {
  border: none;
}

section#contact legend {
  color: #b52184;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: normal;

  margin-bottom: 4.2rem;
}

section#contact .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input {
  position: relative;
}

section#contact input {
  width: 34.8rem;
  padding: 1.6rem 4.8rem !important;
  align-items: center;
}

section#contact input,
textarea {
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: 1.5px solid #312d64;

  color: #312d64;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

section#contact .img {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  margin-right: 0.8rem;
}

section#contact .input button {
  border-radius: 1.6rem;
  background: linear-gradient(134deg, #343193 0%, #302c63 100%);

  display: inline-flex;
  height: 4rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;

  border: none;

  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem; /* 171.429% */
  text-transform: capitalize;
}

footer {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(134deg, #343193 0%, #302c63 100%);
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.balls {
  display: none;
}

@media (min-width: 900px) {
  .padding {
    margin: 0 11.2rem;
  }
  section {
    display: flex;
  }

  section#principal {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  section#principal img.astronaut {
    width: 72rem;
    height: 73rem;
    margin-bottom: 10.4rem;
  }

  section#principal .text {
    width: 50%;
    align-items: start;
  }

  section#principal .text h1 {
    font-size: 5.8rem;
    width: 100%;
    text-align: left;
  }

  section#principal .text h3 {
    font-size: 3.2rem;
    text-align: left;
  }

  section#principal button {
    margin-bottom: 9.5rem;
  }

  section#cards .wrapper-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
  }

  section#contact {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  section#contact form {
    width: 50%;
  }

  section#contact .balls {
    /* width: clamp(20%, 50%, 100%); */
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
